<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let l of list() | async">
      <td>{{l.id}}</td>
      <td>{{l.nom}}</td>
      <td><div class="btn-group btn-group-sm">
            <button (click)="edit(l.id)" class="btn btn-primary"><i class="bi bi-pen"></i></button>
            <button (click)="remove(l.id)" class="btn btn-danger"><i class="bi bi-trash"></i></button>
          </div></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <button (click)="add()" class="btn btn-lg btn-success"><i class="bi bi-plus"></i></button>
      </td>
    </tr>
    <tr *ngIf="listeForm">
      <td><input type="number" [(ngModel)]="listeForm.id" class="form-control" readonly/></td>
      <td><input type="text" [(ngModel)]="listeForm.nom" class="form-control"/></td>
      <td><div class="btn-group">
            <button (click)="save()" class="btn btn-success"><i class="bi bi-check-lg"></i></button>
            <button (click)="cancel()" class="btn btn-warning"><i class="bi bi-backspace"></i></button>
          </div></td>
    </tr>
  </tfoot>
</table>
