<p [style.color]="couleur">{{prenom}}</p>

<h3>[value] et (change)</h3>
<input type="text" [value]="prenom" (change)="changePrenom($event)"/>
<button (click)="resetPrenom()">Effacer</button><br/>
<h3>[(ngModel)]</h3>
<input type="text" [(ngModel)]="prenom"/>
<h3>[ngModel] et (ngModelChange)</h3>
<input type="text" [ngModel]="prenom" (ngModelChange)="prenom = $event.toUpperCase()"/>
<hr/>
<select [(ngModel)]="couleur">
    <option value="#000000">Noir</option>
    <option value="#008000">Vert</option>
    <option value="#FFFF00">Jaune</option>
    <option value="#0000FF">Bleu</option>
    <option value="#FF0000">Rouge</option>
  </select><br />
  <input type="color" [(ngModel)]="couleur">
  
<hr/>

  <input type="text" #nom value="fdjjfdjfdj"/>
  <p>{{nom.value}}</p>

<hr/>

<fieldset>
  <input type="number" [(ngModel)]="todo.id"/><br/>
  <input type="text" [(ngModel)]="todo.title"/><br/>
  Completé : <input type="checkbox" [(ngModel)]="todo.completed"/>

  <p *ngIf="todo.title && todo.id != 0" [ngClass]="{'negatif': !todo.completed}">{{todo.title}}</p>
</fieldset>
  