<div class="container">
  <ul class="nav nav-pills mt-3">
    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/todo']" routerLinkActive="active">Todo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Utilisateur</a>
    </li>
  </ul>
    
  <div class="card mt-3">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
  
</div>